
/* declaring font faces */

@font-face {
    font-family: bell;
    src: url(fonts/BellTopoSans-Regular.otf);
}

@font-face {
    font-family: cantique;
    src: url(fonts/Cantique-Normal.otf);
}

@font-face {
    font-family: alpine;
    src: url(fonts/HighAlpine.otf);
}


/***** NAVBAR *****/

.navbar {
    background-color: #ffffff;
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: rgb(224, 156, 193);
    font-size: 47px;
    font-family: alpine;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgb(221, 147, 124);
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: rgb(230, 185, 209);
    font-size: 16px;
    padding: 10px;
    font-family: bell;}

/* Navbar collapsed styles */
.navbar-toggler {
    color: rgb(148, 85, 48);
    border-color: #fff;
    background-color: rgb(224, 156, 193);
    border-radius: 4px;
    border: 1px solid;
    fill: rgb(148, 85, 48);
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: rgb(224, 156, 193);
    color: white;
    fill: white;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.jumbotron {
    text-align: center;
    color: #ffcff9;
    border-radius: 0px;
}

.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
}

.img-responsive{
    width:100%;
}

/*** CARD ***/

.card {
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: relative;
}

.card .map-title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: alpine;
    font-size: 40px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: rgb(78, 78, 78);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.601); /* Add slightly opaque background */
    opacity: 0; /* Initially hide the title */
    transition: opacity 0.3s ease;
    pointer-events: none; /* Ensures that the title does not interfere with hover effect */
}

.card:hover .map-title {
    opacity: 1; /* Make map title fully visible on hover */
}

.card:hover {
    border-color: rgb(235, 168, 134);
    border-width: 0px;
}



.btn {
    color:#000000;
    background-color: #fff8dd;
    border-color: #fff8dd;
}

.btn:hover {
    background-color: rgb(224, 156, 193);
    color:#000000;
    border-color:#fff8dd
}

/*** Basic Text Styles ***/

#about-world {
    max-height: 200px;
}

.resume h3 {
    font-weight: bold;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: #fff8dd;

}

a:hover {
    color: rgb(127, 162, 225);
}

.jumbo-container{
    padding:10px;
}

body {
    font-family:'Georgia', serif;
    background-color: #000000;
    color: #ffffff;
    background-image: url("assets/slide-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-container{
    padding-right:20px;
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
}

h1 {
    font-family: alpine;
    padding-top: 250px;
    font-size: 75px;
    color: rgb(224, 156, 193);
}

.title-class {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.index-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

.index-link {
    color: rgb(225, 173, 202);
    margin: 0 10px; /* Adjust spacing between links */
    font-size: 18px;
    font-family: bell;
    text-decoration: none;
}

.index-link:hover {
    color: rgb(221, 147, 124);
}

.about-text {
    color: rgb(206, 139, 114);
    font-family: bell;
}

.resume-text {
    color:  rgb(206, 139, 114);
    font-family: bell;
}

.food-waste-text {
    color: rgb(171, 171, 171);
    font-family: bell;
}



/*.footer {
    color: purple;
    padding-top: 350px;
} */
